:root {
  font-family: 'Work Sans Variable', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100% !important;

  color-scheme: light dark;
  color: black;
  background-color: #FCEEE3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  --main-accent: rgb(255 166 246);
}

main {
  width: 100%;
  padding: 2rem;
}

form label {
  font-weight: 600;
  margin: 5px 0;
}

h1, h2, h3,h4, h5, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

.font-bold {
  font-weight: 600;
}

.font-xl {
  font-size: 1.25rem;
}

.landing-dialog {
  padding: 4rem 2rem;
  border: solid 2px black;
  width: 50%;
  gap: 2rem;
  border-radius: 1rem;
  background-color: #F9F5F2;
  box-shadow: 3px 4px 0px 1px #000;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.landing-dialog::-webkit-scrollbar {
  display: none;
}

.falling-number {
  margin: 0;
  position: absolute;
  top: 0;
  z-index: -50;
  font-size: 5rem;
  text-shadow: 3px 4px #000, 0px 1px #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  font-weight: 900;
}

@keyframes rain-fall {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translateY(70vh);
    opacity: 0;
  }
}


/* HOME PAGE */

.landing-dialog h1 {
  font-weight: 800;
  font-size: 2rem;
}

.landing-dialog form {
  gap: 0.5rem;
  align-items: center;
}

.yellow-bg {
  background-color: #F7CB46;
}

.green-bg {
  background-color: #07AF57;
}

.blue-bg {
  background-color: #91A8EE;
}

.purple-bg {
  background-color: #c4a1ff;
}

.dark-pink-bg {
  background-color: #FF91E8;
}

.btn:disabled {
  background-color: white;
}

.red-bg {
  background-color: #E34431;
}

/* FIND A ROOM PAGE */

.no-rooms-text {
  padding: 2rem 0rem;
  text-wrap: wrap;
  font-size: 1.5rem;
  font-weight: 800;
  color: #FF91E8;
  text-shadow: 4px 4px #000, 1px 1px #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  letter-spacing: 1;
  text-align: center;
}

/* Input */
input{
  font-size: 1rem;
  outline: none;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
  width: 100%;
  background-color: white;
  color: black;
  padding: 12px 10px;
  border-radius: 4px;
}

::placeholder {
  color: #64758F;
}

input:focus {
  background-color: rgb(255 166 246);
}

.form-backplate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.4);
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
}

.create-room-form {
  z-index: 50;
  background-color: white;
  padding: 2rem 2rem;
  box-shadow: 3px 4px 0px 1px #000;
  border: 2px solid black;
  border-radius: 1rem;  
  position: relative;
  width: 400px;
  @media (min-width: 768px) {
    width: 600px;
}
}

.create-room-form h4 {
  font-size: 2rem;
  text-align: left;
}

.create-room-form h5 {
  font-size: 1.5rem;
  font-weight: 600;
}

.space-between {
  justify-content: space-between;
}

.close-dialog-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: white;
  height: 1.75rem;
  width: 1.75rem;
}

.btn:focus{
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #000;
}

.btn{
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
  color: black;
  border-radius: 4px;
}

.accent-btn {
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
  color: black;
  font-weight: 800;
  border-radius: 4rem;
}

.label {
  padding: 0.75rem 2rem;
  text-wrap: nowrap;
}

.icon {
  padding: 0.75rem 1.25rem;
}

.w-full {
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.games-list {
  outline: none;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
  width: 100%;
  color: black;
  border-radius: 4px;
}

.games-list li {
  background-color: white;
  width: 100%;
  padding: 12px 0px;
  border-bottom: 2px solid black;
}

.games-list li:hover {
  background-color: var(--main-accent);
}

.games-list li:last-child {
  border: none;
}

/* ROOM PAGE */

.player-hands {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: 2rem;
  justify-content: center;
  flex-direction: row;

  width: 100%;
  gap: 0.5rem;

}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
  color: black;
  background-color: white;
  border-radius: 4px;
  width: 140px;
  height: 180px;
}

.main-card-number {
  font-size: 5rem;
  font-weight: 800;
  text-shadow: 3px 4px #000, 0px 1px #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  color: #E34431;
}

.info-card-number {
  position: absolute;
  font-size: 1rem;
  font-weight: 600; 
  top: 0.35rem; 
  left: 0.35rem;
}

.card:hover {
  background-color: #F9F5F2;
}

.discarded-pile {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.discarded-card {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: 2px solid #000;
  box-shadow: 3px 4px 0px 1px #000;
  color: black;
  background-color: white;
  border-radius: 4px;
  width: 140px;
  height: 180px;
}

.loading-text::after {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loading-icon {
  animation: rotation infinite 1.25s linear;
}

@keyframes rotation{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}

/*
@keyframes dotty {
    0%   { content: '  '; }
    25%  { content: '.  '; }
    50%  { content: '.. '; }
    75%  { content: '...'; }
    100% { content: ''; }
} */
